/* Fonts */
@font-face {
  font-family: "TrajanPro-Regular";
  src: url("/fonts/TrajanPro-Regular.eot");
  src: local("☺"), url("/fonts/TrajanPro-Regular.woff") format("woff"),
    url("/fonts/TrajanPro-Regular.ttf") format("truetype"),
    url("/fonts/TrajanPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "TrajanPro-Regular";
  font-size: 36px;
  line-height: 1.61;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
}
h2 {
  font-family: "TrajanPro-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
:root {
  --color-main-menu-items: #3e1b08;
  --color-bg-button-main-menu: #bc9548;
  --color-hov-bg-button-main-menu: #dfc680;
  --color-text-button-main-menu: #fff;
}
body {
  /* min-width: 1420px; */
  /* max-width: 100vw; */
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  box-sizing: border-box;
  background-color: #fff;
}

/* Header */
.header {
  /* position: fixed; */
  /* fixed здесь не работает */
  position: relative;
  top: 32px;
  min-width: 935px;
}
.header__menu {
  height: 48px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.header__nav {
  /* border: 1px solid brown; */
  margin: 0 0 0 auto;
}
.header__nav-item,
.header__pseudobutton {
  text-decoration: none;
  color: var(--color-main-menu-items);
}
.header__nav-item:hover,
.header__pseudobutton:hover {
  font-weight: 800;
  transition-duration: 0.5s;
}
.header__nav-item:first-child {
  margin-right: 96px;
}
.logo-one-row {
  margin: 0 auto;
  /* border: 1px solid green; */
  display: flex;
}
.logo {
  margin-right: 12px;
}
.name-in-logo {
}
.header__pseudobutton {
}
.book-button {
  /* border: 1px solid brown; */
  text-transform: uppercase;
  width: 192px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-button-main-menu);
  color: var(--color-text-button-main-menu);
  text-decoration: none;
  margin: 0 auto 0 96px;
}
.book-button:hover {
  color: var(--color-main-menu-items);
  background-color: var(--color-hov-bg-button-main-menu);
  transition-duration: 0.5s;
}

/* Section Hero */
.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 32.7%,
      rgba(8, 9, 1, 0.774869) 58.24%,
      #0a0c01 99.79%
    ),
    url("/img/andrew-coelho-aL7SA1ASVdQ-unsplash\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -48px;
  height: 100vh;
  width: 100%;
  min-width: 1420px;
}
.hero__content {
  /* border: 1px solid blueviolet; */
  max-width: 1504px;
  margin: 0 auto 245px;
  padding-top: 456px;
  text-align: center;
}
.hero__title {
  max-width: 1504px;
  /* border: 1px solid red; */
  height: 116px;
  text-align: center;
  margin: 0;
}
.hero__text {
  max-width: 832px;
  /* border: 1px solid red; */
  height: 96px;
  margin: 48px auto 0;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  text-align: center;
}
.reserving {
  /* position: relative; */
  max-width: 1504px;
  height: 224px;
  /* border: 1px solid red; */
  margin: -166px auto 0;
  background-color: var(--color-bg-button-main-menu);
}
.reserving__wrap {
  padding: 52px 10% 55px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.reserving__input {
  color: var(--color-text-button-main-menu);
  text-transform: uppercase;
  font-size: 18px;
  /* text-decoration: none; */
  /* display: block; */
  width: 140px;
  height: 36px;
  margin-bottom: 32px;
}
.reserving__choice {
  display: flex;
  /* position: relative; */
  max-width: 1200px;
  height: 48px;
  color: var(--color-text-button-main-menu);
  background-color: var(--color-bg-button-main-menu);
  justify-content: space-between;
  /* border: 1px solid green; */
}
.reserving__param {
  width: 840px;
  display: flex;
  justify-content: space-between;
}
.reserving__param1 input {
}
#arrival-date {
  width: 83px;
}
.reserving__param2 {
}
#departure-date {
  width: 50px;
}
.reserving__param3 {
}
#adults {
  width: 126px;
}
.reserving__param4 {
}
#children {
  width: 108px;
}
.reserving__choice_view {
  width: 192px;
  height: 48px;
}
.reserving__choice input {
  background-color: var(--color-bg-button-main-menu);
  border: none;
}
.line1 {
  content: "";
  border: 1px solid #ffffff;
  opacity: 0.5;
  margin-top: 6px;
}
.reserving__check-avalibility {
  position: relative;
  margin-left: 72px;
  color: var(--color-text-button-main-menu);
  width: 288px;
  height: 48px;
  background-color: var(--color-bg-button-main-menu);
  text-transform: uppercase;
  border: 1px solid #ffffff;
}
.reserving__check-avalibility:hover {
  color: var(--color-main-menu-items);
  background-color: var(--color-hov-bg-button-main-menu);
  transition: 0.5s;
  border-radius: 5px;
}

/* Section ABOUT */
.about {
  padding-top: 280px;
}
.about__section-header {
  width: 898px;
  height: 366px;
  margin: 0 auto 144px auto;
  /* background-color: blanchedalmond; */
}
.line2 {
  width: 136px;
  height: 0px;
  border: 1px solid var(--color-main-menu-items);
  margin: 0 auto 0 auto;
}
.section-name {
  font-family: var(--color-main-menu-items);
  text-align: center;
  padding-top: 96px;
  margin-bottom: 48px;
}
.section-name > h2 {
  margin: 0;
}
.about__text {
  color: #231f20;
  margin-bottom: 16px;
  text-align: center;
  /* border: 1px solid red; */
}
.about__link {
  width: 93px;
  margin: 0 auto 0 auto;
}
.about__link > a {
  color: var(--color-bg-button-main-menu);
  text-decoration: none;
  margin-bottom: 4px;
}
.about__link > a:hover {
  color: var(--color-main-menu-items);
  transition: 0.5s;
}
.line3 {
  border: 1px solid var(--color-bg-button-main-menu);
}

/* Hotel Amenities */
.about__amenities {
  background: no-repeat url("/img/bg-hotel-eminites.jpg");
  background-size: cover;
  width: 100%;
  color: var(--color-text-button-main-menu);
}
.about__amenities-text {
  padding-top: 273px;
  margin-bottom: 125px;
  text-align: center;
}
.about__wrapper {
  max-width: 1534px;
  padding-bottom: 246px;
}
.about__list-amenities {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about__item-list-amenities {
  text-decoration: none;
  text-transform: uppercase;
}
